<body class="bg-dark">
<h1 class="p-3 mb-2 bg-dark text-white text-center">Pan Tadeusz, czyli ostatni zjazd na Litwie: historia szlachecka z roku 1811 i 1812 we dwunastu księgach wierszem</h1>
{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2>Spis treści</h2>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k1')}}">Księga 1</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k2')}}">Księga 2</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k3')}}">Księga 3</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k4')}}">Księga 4</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k5')}}">Księga 5</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k6')}}">Księga 6</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k7')}}">Księga 7</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k8')}}">Księga 8</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k9')}}">Księga 9</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k10')}}">Księga 10</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k11')}}">Księga 11</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{{url_for('k12')}}">Księga 12</a></button>
                </div>
          </div>
          <div class="col">
            <img src="https://s.lubimyczytac.pl/upload/authors/6520/470223-352x500.jpg" class="rounded mx-auto d-block" alt="Mickiewicz">
          </div>
        </div>
</section>
{% endblock %}
</body>